<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body class="bg-light">
    <nav class="navbar navbar-expand navbar-white bg-white">
        <a class="navbar-brand" href="/">asp123論壇</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @Html.Action("GetTag","TagClass")
        </div>
    </nav>
    <div class="container">
        @RenderBody()

        <hr>
        <div>
            <spn>劉長庚 &nbsp; 天主教輔仁大學資訊工程所</spn>
            <div class="float-right">
                <a href="https://www.facebook.com/dannyliu.me/">fb:長庚的作業簿</a>
                &nbsp; &nbsp;
                <a href="https://github.com/dannypc1628/">程式碼:github</a>
            </div>
        </div>
    </div>
</body>
</html>
