@using PagedList;
@using PagedList.Mvc;
@model IEnumerable <miniMVC.Models.ArticleModel>
@{
    
    Layout = "~/Views/Shared/_MyLayoutPage.cshtml";
}
<link rel="stylesheet" href="~/Content/PagedList.css">
<h2>@ViewBag.TagName</h2>



