
@model miniMVC.Models.ArticleModel

@{
    
    ViewBag.Title = "IndexView";
}

@if (Model.Title == null)
{
    <h1>
        找不到此文章
    </h1>
}
else
{
    <div>
        <span>@Model.Title</span>
        <br />
        <span>作者：@Model.Name</span><span>發文時間：@Model.Time</span>
        <p>@Model.Content</p>
    </div>
}


